<div class="dropdown pull-right">
  <button class="btn btn-custom dropdown-toggle" type="button" data-toggle="dropdown">
    <%= icon 'fa-bars' %>
  </button>
  <ul class="dropdown-menu">
    <li><%= link_to icon_text('fa-plus', 'New'), new_app_path() %></li>
  </ul>
</div>
