<div class="dropdown pull-right">
  <button class="btn btn-custom dropdown-toggle" type="button" data-toggle="dropdown">
    <%= icon 'fa-bars' %>
  </button>
  <ul class="dropdown-menu">
    <li><%= link_to icon_text('fa-git-square', 'Repository'), app_repository_path(app_id: @app.name) %></li>
    <li role="separator" class="divider"></li>
    <li>
      <%= link_to icon_text('fa-trash', :Delete),
          app_path(app_id: @app.name),
          method: :delete,
          data: {confirm: "Are you sure that you want to delete #{@app.name}?"} %>
    </li>
  </ul>
</div>
