#saving-alert {
  color: #337ab7;
  position: fixed;
  font-size: 18px;
  margin-right: 110px;
  top: 12px;
  right: 0;
  z-index: 1060; }

@media (max-width: 767px) {
  #saving-alert {
    margin-right: 75px;
  }
}
